In [2]:
import pandas as pd
import numpy as np

In [12]:
nazare = pd.read_pickle('Nazare.pkl')
jaws = pd.read_pickle('Jaws.pkl')

In [13]:
nazare.describe()

Variable Wind Speed (knots)                                         \
Hour                     2            5            8            11
count           4377.000000  4377.000000  4378.000000  4378.000000
mean               7.827964     7.713731     7.332572     8.187300
std                4.260793     4.290638     4.159098     4.617526
min                0.000000     0.000000     0.000000     0.000000
25%                5.000000     5.000000     4.000000     5.000000
50%                7.000000     7.000000     7.000000     7.000000
75%               10.000000    10.000000     9.000000    11.000000
max               31.000000    33.000000    32.000000    38.000000

Variable                                                         Wave (m)  \
Hour               14           17           20           23           2
count     4379.000000  4379.000000  4376.000000  4376.000000  4297.000000
mean         9.095456    10.767984     9.720064     8.514397     2.430859
std          4.775358     4.554183     4.184217     4.208973     1.214008
min          0.000000     1.000000     1.000000     0.000000     0.400000
25%          6.000000     8.000000     7.000000     6.000000     1.600000
50%          9.000000    11.000000     9.000000     8.000000     2.200000
75%         12.000000    14.000000    12.000000    11.000000     3.000000
max         37.000000    36.000000    31.000000    32.000000    11.400000

Variable                                                                   \
Hour               5            8            11           14           17
count     4297.000000  4307.000000  4307.000000  4311.000000  4311.000000
mean         2.429998     2.422266     2.413095     2.399072     2.395314
std          1.211368     1.206292     1.205203     1.205551     1.208679
min          0.000000     0.400000     0.400000     0.400000     0.400000
25%          1.600000     1.600000     1.600000     1.600000     1.500000
50%          2.200000     2.100000     2.100000     2.100000     2.100000
75%          3.000000     3.000000     3.000000     2.900000     2.900000
max         10.800000     9.900000     9.400000     9.200000     9.700000

Variable
Hour               20           23
count     4333.000000  4333.000000
mean         2.408031     2.425525
std          1.212504     1.213794
min          0.400000     0.400000
25%          1.600000     1.600000
50%          2.100000     2.100000
75%          3.000000     3.000000
max         10.700000    11.200000